body {

     font-family: 'Oswald', sans-serif;

}

.main_title
{
	font-size: 100px;
	text-align: center;
}

.about_me_text
{
	font-size: 20px;
	text-align: center;
}

.about_img
{
	width: 100%
}

.vert_center
{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}