body {

     font-family: 'Oswald', sans-serif;

}

.main_title
{
	font-size: 100px;
	text-align: center;
}

.about_me_text
{
	font-size: 20px;
	text-align: center;
}

.about_img
{
	width: 100%
}

.vert_center
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    float:none;
}