
body {

	background-image: url(../Images/Index_Page/web_front_page.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	font-family: 'Oswald', sans-serif;

}

.main_head_font
{
	font-size: 50px;
}

.sub_head_font
{
	font-size: 25px;
}

.enter_font
{
	font-size: 15px;
}

.enter_font:hover
{
	opacity:0.5
}

a {
	color: black;
    text-decoration: none;
}

a:hover 
{
	color: black;
    text-decoration: none;   
}

/* -------------------------------------------------------------------------- */

/* New CSS */

.indexPageMainHeader
{
	font-size: 50px;
	text-align: center;
}

.indexPageSubHeader
{
	font-size: 25px;
	text-align: center;
}

.indexPageIcon
{
	margin-left: 5px;
}

.verticalCenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  min-width: 100%
  min-width: 100vh;
}