
body {

	background-image: url(../Images/Index_Page/web_front_page.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;

}