
body {

	background-image: url(../Images/Index_Page/web_front_page.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	font-family: 'Oswald', sans-serif;

}

.main_head_font
{
	font-size: 50px;
}

.sub_head_font
{
	font-size: 25px;
}

.enter_font
{
	font-size: 15px;
}

a {
	color: black;
    text-decoration: none;
}

a:hover 
{
	color: black;
    text-decoration: none;   
}