/* CSS for the Landing Page */

/* Sorts out the background */
#background {
    width: 100%; 
    height: 100%;  
    left: 0px; 
    top: 0px; 
    z-index: 0;
    background-color: black;
}

/* Stops the scrolling */
body {
     overflow-y: hidden;
}

/* For all media removes the padding around the container */
@media (max-width: 100000px) {

    .container {
      width: 100%; 
      height: 100%;  
      left: 0px; 
      right: 0px;
      top: 0px; 
      z-index: 0;
      padding:0;
      margin:0;
      /*background-color: black;*/
    }

    body {
    	width: 100%; 
    	height: 100%;  
    	left: 0px; 
    	right: 0px;
    	top: 0px; 
    	z-index: 0;
      	padding:0;
      	background-color: black;
    }

}

/* Gets images to be a third of the screen */
.third {
	height:100%;
    width:33%;
    position: fixed;
}

/* Font for all the titles and stuff */
.landing_page_font {

  padding-top: 45%;
  font-family: 'Oswald', sans-serif;

}

/* Different sizes for the title and the body */
.landing_page_title {

  font-size: 40px;

}

.landing_page_body {

  font-size: 25px;

}