/* All of these functions are designed to overlay text on top of
images when you hover your mouse on them. */

/* Wraps up both the image and the text. */
.img_wrap_for_text 
{
  background-color: white;

  position: relative;
  margin:0 auto;
  height: 100%;
  width: 100%;

  /*line-height: 210%*/
}

/* Inside of the wrapper positions the title absolutely center. */
.img_title {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  background: rgba(255, 255, 255, 0.5);
  /*color: #000;*/
  color: white;

  visibility: hidden;
  opacity: 0;

  /*line-height: 100%;*/

  /* These are so the image title transitions in slowly and isn't too
  sudden. */
 -moz-transition: opacity .5s ease-in-out;
 -webkit-transition: opacity .5s ease-in-out;

}

/* When you hover it shows up. */
.img_wrap_for_text:hover .img_title {

  color: white;
  visibility: visible;
  opacity: 1;

}