.create_ws_twenty
{
	margin-top: 20px;
}

.create_ws_35_percent
{
	margin-top: 35%;
}

.create_ws_ninety
{
	margin-top: 90px;
}

.create_ws_thirty
{
	margin-top: 30px;
}

.create_ws_sixty
{
	margin-top: 60px;
}