/* -------------------------------------------------------------------------- */

/* About SASS */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* VARIABLES */

/* -------------------------------------------------------------------------- */

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.aboutPageHeading
{
	font-size: 25px;
}

.aboutPageSectionSpacing
{
	margin-top: 40px;
}

.aboutIcon
{
	margin-right: 15px;
}

.aboutCarouselImage 
{
  width: auto;
  height: 300px;
  max-height: 300px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-inner {
    border: 10px;
    border-color: #222;
    border-style: solid;
}

.carouselMobileSpacing
{
	margin-top: 30px;
}

/* Extra small devices (767px and down) */
@media (max-width: 992px) { 
    .row.verticalCenterColumn {
        display: block; /* turn off the flexible box layout */
    }
}

.panelSpacing
{
	margin: 20px;
}