/* -------------------------------------------------------------------------- */

/* Education SASS */

/* -------------------------------------------------------------------------- */

.educationPageTextBody
{
	margin-bottom: 50px;
}

.educationPageStatsIcon
{
	color: steelblue;
	cursor: pointer;
}

.educationPageStatsIconActive
{
	color: brown;
}

.educationPageD3GraphPanelBody
{
	position: fixed;
}