/* -------------------------------------------------------------------------- */

/* Education SASS */

/* -------------------------------------------------------------------------- */

.educationPageTextBody
{
	margin-bottom: 50px;
}

.educationPageStatsIcon
{
	color: steelblue;
	cursor: pointer;
}

.educationPageStatsIconActive
{
	color: brown;
}

.sidebar-outer {
    position: relative;
}

.fixed {
    position: fixed;
}