/* -------------------------------------------------------------------------- */

/* Projects SASS */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* VARIABLES */

/* -------------------------------------------------------------------------- */

/* Adds a gap between the tab and the contents of the tab. */
.tabContainer
{
	margin-top: 40px;
}

/* Styles all the YouTube iFrames */
.projectsIFrame
{
	position: relative; 
	height: 350px; 
	width: 100%;
}

/* Overrides the vertical center for the projects to include the toolbars */
.projectsVerticalCenter
{ 
	min-height: 80vh !important; 
}