/* -------------------------------------------------------------------------- */

/* Index Page CSS */

/* -------------------------------------------------------------------------- */

/* Formats the main page header to center and size. */
.indexPageMainHeader
{
	font-size: 50px;
	text-align: center;
}

/* Formats the main page subheader to center and size. */
.indexPageSubHeader
{
	font-size: 25px;
	text-align: center;
}

/* Makes the icon so it isn't directly next to text. */
.indexPageIcon
{
	margin-left: 5px;
}

/* Vertically centers the container in the middle of the page. */
.verticalCenter 
{
  min-height: 100%;  
  min-height: 100vh; 

  display: flex;
  align-items: center;

  min-width: 100%
  min-width: 100vh;
}

/* Makes the logos the same size. */
.indexPageLogo
{
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* To format the left and right logos to be centered but spaced */
.indexPageLogoLeft
{
  margin-right: 5px;
}

.indexPageLogoRight
{
  margin-left: 5px;
}

.indexPageLogoCenter
{
  margin-left: 5px;
  margin-right: 5px;
}

.indexPageEnter
{
  text-align: center;
  font-size: 20px;
}

/* Aligns the logos centrally and adds top spacing. */
.indexPageLogoDiv
{
  margin-top: 20px;
  text-align: center;
}

/* Formats the links so they are black and not underlined. */
a {
    color: black;
    text-decoration: none;
}

a:hover 
{
    color: black;
    text-decoration: none;   
}